{% extends "base.html" %}
{% block title %}<title>Weight Loss Programs - The Best and The Right One for You </title>
<meta name="description" content="A weight loss program that could work for you. Clean 9 is a nine-day program that is designed to cleanse your body of harmful preservatives and other chemicals, as well as start to burn your excess fat." />
<meta name="keywords" content="weight loss success stories,calories to lose weight,weight loss calories,weight loss chart,weight loss motivation,weight loss blog,biggest loser" />
{% endblock %}
{% block style %}
	<style>

		#head  {
			background:url('{{ MEDIA_URL }}assets/img/slider/weight-management.jpg');
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		#progress-bar {background:#a5dc4f}

		.contact button,
		#head .newsletter button,
		.calltoaction a {
			background-color:#a5dc4f;
			background-image:-webkit-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:-moz-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:-ms-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:-o-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:linear-gradient(top,#a5dc4f 0,#7db535 100%);
			border-bottom:2px solid #609123;
		}

		.contact button:hover,
		#head .newsletter button:hover,
		.calltoaction a:hover {
			background:#a5dc4f !important;
		}

		.contact button:active,
		#head .newsletter button:active,
		.calltoaction a:active {
			background:#a5dc4f !important;
			border-bottom-color:#7db535;
		}

		.hexagon {background:#a5dc4f;}
		.hexagon:before {border-bottom-color: #a5dc4f}
		.hexagon:after {border-top-color: #a5dc4f}

		#pricing-table .popular h3 {
			background-color:#a5dc4f;
			background-image:-webkit-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:-moz-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:-ms-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:-o-linear-gradient(top,#a5dc4f 0,#7db535 100%);
			background-image:linear-gradient(top,#a5dc4f 0,#7db535 100%);
		}

		.social li a { background:#a5dc4f }

		.testimonals aside a:hover,
		.tweet_time a:hover,
		.tweet_text a,
		.copyright a:hover {
			color:#7db535;
		}

{% endblock %}
{% block yield %}
	</style>

</head>
<body>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<header id="head">

		<div class="inner">
		{% block message %}
			<a href="/" ><img src="{{ MEDIA_URL }}assets/img/flp/flplogo.png" alt="Forever Living" /></a> <br />
			
			<div class="menu right">
				<div id="menuContainer">
					<div class="menus">
						<a href="/">Home</a> | <a href="/about">About</a> | <a href="/opportunity">Opportunity</a> | <a href="/benefits-of-aloe">Benefits of Aloe</a> | <a href="/forever-living-products">Products</a> | <a href="http://aloeveraofforever.com/blog">Blog</a> | <a href="/faqs">FAQs</a>
					</div>
                                </div>
                        </div>
                        <div class="menu share-right">
                                <div id="shareContainer">
                                        <div class="menus">					
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://aloeveraofforever.com" data-via="aloeveraofforever" data-related="arbinbulaybulay" data-hashtags="aloevera">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- Place this tag where you want the +1 button to render -->
<g:plusone></g:plusone>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class="fb-like" data-href="http://aloeveraofforever.com" data-send="true" data-width="450" data-show-faces="true"></div>
                                      	
				        </div>
                              </div>
			</div>
		{% endblock %}
		</div>

		<!-- <div id="progress-back" class="load-item"><div id="progress-bar"></div></div> -->
		<!-- <div id="countdown"></div> -->
		<!-- <div class="contact_map" id="contact_map"></div> -->

	</header>

	<section class="body">

		<div class="inner">

				<div id="extra">

					<div class="block">
						<h2 class="heading"><span class="center"><strong>Weight Loss Program</strong></span></h2>
						<p class="small">Do you want to lose those few extra pounds?<br />Would you like your pants to fit a little bit better? Are you ready to take charge of your health and feel better? If the answer is "YES" to any of these questions, then Forever Living Products
has created a weight loss program that could work for you. Clean 9 is a nine-day program that is designed to cleanse your body of harmful
preservatives and other chemicals, as well as start to burn your excess fat.
						</p>	
                                                <center><a href="https://www.foreverliving.com/retail/shop/shopping.do?task=viewProductDetail&itemCode=216&langID=en&storeID=USA&distribID=630000004130" ><img src="{{ MEDIA_URL }}assets/img/flp/nutrilean.gif" alt="Nutrilean" /></a></center>					
					</div>
					
					<div class="block">
						<h2 class="heading"><span class="center"><strong>FOREVER Nutri-Lean</strong></span></h2>
						<p class="small">FOREVER Nutri-Lean is the second step in the program. It is a 30-day program that teaches how to eat properly, exercise, increase your metabolism and live a healthier lifestyle.</p>

<p><a href="https://gallery.foreverliving.com/gallery/GBR/download/products/NEWNutriLean12.pdf">Download Product Information</a></p>	
											
					</div>

                                        <div class="block">
						<h2 class="heading"><span class="center"><strong>Forever Lite Recipes</strong></span></h2>
						<p class="small">Give your body the nutrients it needs with two daily Forever Lite shakes, which provide 100% of the RDI (Reference Daily Intake) of vitamins and minerals, as well as proteins for body building and cell growth and repair. Each shake contains 18 amino acids (including 8 essentials) and trace elements including iron, selenium, chromium and iodine, providing your body with soluble and insoluble fiber. We've also added the antioxidant Beta Carotene and vitamins A and E to help protect against free radicals. Forever Lite is a great-tasting, nutritionally sound meal replacement.
2 Forever Lite shakes have 100% of the RDI of vitamins and minerals. Shake your way to fitness with this assortment of healthy, tasty meal replacements that your whole family can enjoy!</p>	
					<p class="medium">Taste of Freedom (180 calories)</p>
                                        <p class="small"> 
                                              1 scoop Vanilla Forever Lite Ultra,
4 oz. Forever Freedom,
4 oz. orange juice,
Crushed ice,
Blend until smooth
                                        </p>
<p class="medium">Peaches n’ Berries (225 calories)</p>
                                        <p class="small"> 
                                             1 scoop Vanilla Forever Lite Ultra,
4 oz. Forever Aloe Bits n’ Peaches,
5 oz. skimmed/soya milk,
1/2 cup frozen raspberries or strawberries,
Crushed ice,
Blend
                                        </p>
<p class="medium">Oatmeal Delight (300 calories)</p>
                                        <p class="small"> 
                                            1 scoop Vanilla Forever Lite Ultra,
1 tbsp. Forever Bee Honey or brown sugar,
2 tbsp. instant oats,
1/2 tsp. cinnamon,
10 oz. skimmed/soya milk or water,
Blend
                                        </p>	
<p class="medium">Spicy Double Dutch Chocolate (200 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
10 oz. hot skimmed/soya milk,
1/4 tsp. ginger,
1/2 tsp. cinnamon,
1/2 tsp. cloves,
1 tbsp. unflavoured gelatin,
Blend until smooth
                                        </p>	
<p class="medium">Just Peachy (240 calories)</p>
                                        <p class="small"> 
                                            1 scoop Vanilla Forever Lite Ultra,
10 oz. skimmed/soya milk,
1 fresh peach,
1/2 tsp. peach extract,
Crushed ice,
Blend until smooth

                                        </p>	
<p class="medium">Dream Cream (175 calories)</p>
                                        <p class="small"> 
                                          1 scoop Vanilla Forever Lite Ultra,
6 oz. fresh orange juice,
4 oz. natural sparkling,
mineral water,
Crushed ice,
Blend until smooth

                                        </p>	
<p class="medium">Berry Strawberry (140 calories)</p>
                                        <p class="small"> 
                                            1 scoop Vanilla Forever Lite Ultra,
6 oz. natural sparkling,
mineral water,
4-6 strawberries,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">Choco-Nana Chunk (255 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
8 oz. cold skimmed/soya milk,
1/2 banana,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">Forever Colada (200 calories)</p>
                                        <p class="small"> 
                                            1 scoop Vanilla Forever Lite Ultra,
10 oz. skimmed/soya milk,
1/2 tsp. coconut extract,
1/2 tsp. Forever Bee Honey,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">After Eight (200 calories)</p>
                                        <p class="small"> 
                                            1 scoop Chocolate Forever Lite Ultra,
8 oz. skimmed/soya milk,
Fresh mint leaf,
Crushed ice,
Blend until smooth
                                        </p>
<p class="medium">Forever Fruit (290 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
10 oz. skimmed/soya milk,
1/2 banana,
3 fresh strawberries,
1 tsp. crushed pineapple,
1 tsp. orange juice,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">Banana Nut Creme (200 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
10 oz. skimmed/soya milk,
1-2 drops banana extract,
1-2 drops black walnut extract,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">Hawaiian Style (230 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
4 oz. Aloe Vera Gel or Forever Freedom,
4 oz. Pineapple juice,
1/2 c. fresh or frozen pineapple, berries, or other fruit,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">Orchard Morning (370 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
1 cup apple juice,
1/2 cup in-season fresh fruit,
1 cup low-fat, plain yogurt,
1 tsp. Forever Bee Honey,
1 Forever Bee Pollen tablet, crushed,
Crushed ice,
Blend until smooth

                                        </p>
<p class="medium">Tropical Blast (340 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
4 oz. skimmed/soya milk,
1 tsp. Forever Bee Honey,
1/2 banana,
1/4 cup shredded coconut,
Crushed ice,
Blend until smooth

                                        </p>	
<p class="medium">Vanilla Coconut (200 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
10 oz. skimmed/soya milk,
2-3 drops coconut extract,
or shredded coconut* 2-3 drops vanilla extract,
* add 45 calories per 1 1/2 tbsp. shredded coconut,
Crushed ice,
Blend until smooth

                                        </p>	
<p class="medium">Nut Fudge Drink (225 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
10 oz. skimmed/soya milk,
1 tsp. Forever Bee Honey,
1-2 drops black walnut extract,
Crushed ice,
Blend until smooth
                                        </p>
<p class="medium">Chocolate Almond Fudge (200 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
10 oz. skimmed/soya milk,
2-3 drops coconut extract or shredded coconut,
2-3 drops almond extract,
Crushed ice,
Blend until smooth
                                        </p>
<p class="medium">Smooth n’ Fruity (355 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
1 cup apple or orange juice,
1/2 banana,
1 cup low fat plain yogurt,
Crushed ice,
Blend until smooth
                                        </p>	
<p class="medium">Tropical Dream (300 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
8 oz. orange juice,
1/2 cup crushed pineapple,
1/2 banana,
Crushed ice,
Blend until smooth
                                        </p>	
<p class="medium">Chocolate-Covered Orange (200 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
10 oz. skimmed/soya milk,
1-2 drops chocolate extract,
1-2 drops orange extract,
Crushed ice,
Blend until smooth
                                        </p>	
<p class="medium">Choco-Berry Nut (300 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
10 oz. skimmed/soya milk,
3-4 strawberries,
1 tsp. peanut butter,
Crushed ice,
Blend until smooth
                                        </p>	
<p class="medium">Butterscotch Swirl (200 calories)</p>
                                        <p class="small"> 
                                           1 scoop Vanilla Forever Lite Ultra,
10 oz. skimmed/soya milk,
2 tsp butterscotch flavouring,
Crushed ice,
Blend until smooth
                                        </p>	
<p class="medium">All-Spiced Up (255 calories)</p>
                                        <p class="small"> 
                                           1 scoop Chocolate Forever Lite Ultra,
10 oz. skimmed/soya milk,
Dash of all-spice,
1/2 banana,
Crushed ice,
Blend until smooth,
Peanut Butter Power Treats
                                        </p>	
<p class="medium">Calories will vary per added ingredients.</p>
                                        <p class="small"> 
                                           1/2 cup Chocolate or Vanilla Forever Lite Ultra,
1 cup natural peanut butter,
1/2 cup of your choice:
fresh coconut
granola or oatmeal,
raisins,
Mix and roll into 1" balls for a handy
snack-on-the-go!
                                        </p>						
					</div>
					<h2 class="heading"><span class="left"><strong> Related Helpful Health Calculator </strong></span></h2>
					<p><a href="/calorie-counter">Count Food Calories </a></p>
                                        <p><a href="/body-mass-index">Find Out Your Body Mass Index </a></p>
                                        <p><a href="/basal-metabolic-rate">How Many Calories You're Burning While Resting?</a></p>
                                        <p><a href="/how-many-calories-will-i-burn">How Calories You're Burning For an Activity? </a></p>
					<h2 class="heading"><span class="left"><strong> Related Article </strong></span></h2>
                                        <p><a href="/weight-loss">Loss Weight Naturally </a></p>  
                                        <p><a href="/benefits-of-aloe">Aloe Vera Benefits </a></p>         
                                        <p><a href="/forever-living-products">Natural Aloe Vera Wellness Products </a></p>                 
				</div>

{% endblock %}